<!DOCTYPE html>
<html ng-app>
<head>
<script src="assets/js/async.js"></script>
<script src="assets/js/angular.min.js"></script>
<link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<meta charset=utf-8 />
<title>Tarif Jasa PNBP</title>
<style>
.well-child {
  padding:2px !important;
  margin-bottom:0px;
  margin-top:5px;
  margin-left:35px;
  border-right:none;
  border-bottom:none;
}
.price {
  padding-right:10px;
}
.child-btn {
  display:inline-block;
}
.expand-btn {
  border-radius:15px;
  display:inline-block;
  text-align:center;
  width:30px;
  height:30px;
  padding:0px;
}
</style>
<script>
function ctrl($scope, $http, $timeout){
  var ID = "569b94a8412bd1480dae8936";
  $scope.get = function(id) {
    $http.get("http://128.199.95.141:29017/karantina/data/" + id)
    .success(function(data){
        delete(data._id);
        $scope.data = data;
        $scope.expand($scope.data.childs);
      })
      .error(function(data){
        console.log(data);
      })
  }
  $scope.get(ID);
  $scope.expand = function(childs) {
    for (var i in childs) {
      childs[i].expand = false;
      if (childs[i] && childs[i].childs) {
        $scope.expand(childs[i].childs);
      }
    }
  }

  $scope.carts = [];
  $scope.backToCarts = function(){
    $scope.choose=false;
    $scope.$apply();
  }
  $scope.pick = function(item){
    var i = angular.copy(item);
    i.total = 0;
    $scope.carts.push(i);
    $scope.backToCarts();
  }
  $scope.totalPrice = 0;
  $scope.calc = function(){
    $scope.totalPrice = 0;
    var carts = $scope.carts;
    for (var i in carts) {
      var x = carts[i].total || 0
      carts[i].totalPrice = parseInt(x) * parseInt(carts[i].price);
      $scope.totalPrice += carts[i].totalPrice;
    }
  }
  $scope.remove = function(item){
    var carts = $scope.carts;
    for (var i in carts) {
      if (carts[i].id === item.id && carts[i].name === item.name) {
        carts.splice(i, 1);
      }
    }
    $scope.calc();
  }
}
</script>
</head>
<body ng-controller="ctrl" style="margin:10px;">

  <div class="well">
            <h2>Kalkulator Tarif Jasa PNBP Karantina</h2>
  </div>
  <div class="well well-top" ng-show="!choose">
    <div style="text-align:center">
      <button class="btn btn-success" ng-click="choose=true;">+ Pilih komoditas</button>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <td>Nama komoditas</td>
          <td>Tarif per satuan</td>
          <td>Jumlah komoditas</td>
          <td>Jumlah Tarif</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="c in carts">
          <td>{{c.name}}</td>
          <td>Rp. {{c.price}}</td>
          <td><input ng-model="c.total" style="width:100px"> / {{c.sizeType}}</td>
          <td>{{c.totalPrice}}</td>
          <td><button class="btn btn-danger" ng-click="remove(c);">Hapus</button></td>
        </tr>
      </tbody>
    </table>
    <hr>
    <div style="text-align:center" ng-show="carts.length > 0">
            <button class="btn btn-success" ng-click="calc();">Hitung tarif</button>
            <h3>Rp. {{totalPrice}}</h3>
    </div>

  </div>
  <div class="well well-top" ng-repeat="d in data.childs" ng-show="choose">
    <div><p>Klik + untuk membuka struktur pilihan. Klik tombol bundar hijau untuk memilih komoditas.</p></div>
    <button class="btn btn-success pull-right" ng-click="backToCarts();">Kembali</button>
    <!--BEGIN OF LEVEL-->
    <button class="expand-btn btn" ng-click="d.expand=true" ng-show="!d.expand && d.childs.length > 0">+</button>
    <button class="expand-btn btn" ng-click="d.expand=false" ng-show="d.expand && d.childs.length > 0">-</button>
    <button class="expand-btn btn btn-success" ng-click="pick(d)" ng-show="!d.childs || d.childs.length==0"></button>
    <span ng-hide="d.edit">{{d.name}}</span> 
    <span ng-show="d.price" class="price pull-right">{{d.price}} / {{d.sizeType}}</span>
    <div ng-show="d.expand">
      <div class="well well-child" ng-repeat="d in d.childs" ng-show="d.name">
        <!--NEW LEVEL-->
          <!--BEGIN OF LEVEL-->
          <button class="expand-btn btn" ng-click="d.expand=true" ng-show="!d.expand && d.childs.length > 0">+</button>
          <button class="expand-btn btn" ng-click="d.expand=false" ng-show="d.expand && d.childs.length > 0">-</button>
          <button class="expand-btn btn btn-success" ng-click="pick(d)" ng-show="!d.childs || d.childs.length==0"></button>
          <span ng-hide="d.edit">{{d.name}}</span> 
          <span ng-show="d.price" class="price pull-right">{{d.price}} / {{d.sizeType}}</span>
          <div ng-show="d.expand">
            <div class="well well-child" ng-repeat="d in d.childs" ng-show="d.name">
              <!--NEW LEVEL-->
                <!--BEGIN OF LEVEL-->
                <button class="expand-btn btn" ng-click="d.expand=true" ng-show="!d.expand && d.childs.length > 0">+</button>
                <button class="expand-btn btn" ng-click="d.expand=false" ng-show="d.expand && d.childs.length > 0">-</button>
                <button class="expand-btn btn btn-success" ng-click="pick(d)" ng-show="!d.childs || d.childs.length==0"></button>
                <span ng-hide="d.edit">{{d.name}}</span> 
                <span ng-show="d.price" class="price pull-right">{{d.price}} / {{d.sizeType}}</span>
                <div ng-show="d.expand">
                  <div class="well well-child" ng-repeat="d in d.childs" ng-show="d.name">
                    <!--NEW LEVEL-->
                      <!--BEGIN OF LEVEL-->
                      <button class="expand-btn btn" ng-click="d.expand=true" ng-show="!d.expand && d.childs.length > 0">+</button>
                      <button class="expand-btn btn" ng-click="d.expand=false" ng-show="d.expand && d.childs.length > 0">-</button>
                      <button class="expand-btn btn btn-success" ng-click="pick(d)" ng-show="!d.childs || d.childs.length==0"></button>
                      <span ng-hide="d.edit">{{d.name}}</span> 
                      <span ng-show="d.price" class="price pull-right">{{d.price}} / {{d.sizeType}}</span>
                      <div ng-show="d.expand">
                        <div class="well well-child" ng-repeat="d in d.childs" ng-show="d.name">
                          <!--NEW LEVEL-->
                            <!--BEGIN OF LEVEL-->
                            <button class="expand-btn btn" ng-click="d.expand=true" ng-show="!d.expand && d.childs.length > 0">+</button>
                            <button class="expand-btn btn" ng-click="d.expand=false" ng-show="d.expand && d.childs.length > 0">-</button>
                            <button class="expand-btn btn btn-success" ng-click="pick(d)" ng-show="!d.childs || d.childs.length==0"></button>
                            <span ng-hide="d.edit">{{d.name}}</span> 
                            <span ng-show="d.price" class="price pull-right">{{d.price}} / {{d.sizeType}}</span>
                            <div ng-show="d.expand">
                              <div class="well well-child" ng-repeat="d in d.childs" ng-show="d.name">
                                <!--NEW LEVEL-->
                                  <!--BEGIN OF LEVEL-->
                                  <button class="expand-btn btn" ng-click="d.expand=true" ng-show="!d.expand && d.childs.length > 0">+</button>
                                  <button class="expand-btn btn" ng-click="d.expand=false" ng-show="d.expand && d.childs.length > 0">-</button>
                                  <button class="expand-btn btn btn-success" ng-click="pick(d)" ng-show="!d.childs || d.childs.length==0"></button>
                                  <span ng-hide="d.edit">{{d.name}}</span> 
                                  <span ng-show="d.price" class="price pull-right">{{d.price}} / {{d.sizeType}}</span>
                                  <div ng-show="d.expand">
                                    <div class="well well-child" ng-repeat="d in d.childs" ng-show="d.name">
                                      <!--NEW LEVEL-->
                                        <!--BEGIN OF LEVEL-->
                                        <button class="expand-btn btn" ng-click="d.expand=true" ng-show="!d.expand && d.childs.length > 0">+</button>
                                        <button class="expand-btn btn" ng-click="d.expand=false" ng-show="d.expand && d.childs.length > 0">-</button>
                                        <button class="expand-btn btn btn-success" ng-click="pick(d)" ng-show="!d.childs || d.childs.length==0"></button>
                                        <span ng-hide="d.edit">{{d.name}}</span> 
                                        <span ng-show="d.price" class="price pull-right">{{d.price}} / {{d.sizeType}}</span>
                                        <div ng-show="d.expand">
                                          <div class="well well-child" ng-repeat="d in d.childs" ng-show="d.name">
                                            <!--NEW LEVEL-->
                                              <!--BEGIN OF LEVEL-->
                                              <button class="expand-btn btn" ng-click="d.expand=true" ng-show="!d.expand && d.childs.length > 0">+</button>
                                              <button class="expand-btn btn" ng-click="d.expand=false" ng-show="d.expand && d.childs.length > 0">-</button>
                                              <button class="expand-btn btn btn-success" ng-click="pick(d)" ng-show="!d.childs || d.childs.length==0"></button>
                                              <span ng-hide="d.edit">{{d.name}}</span> 
                                              <span ng-show="d.price" class="price pull-right">{{d.price}} / {{d.sizeType}}</span>
                                              <div ng-show="d.expand">
                                                <div class="well well-child" ng-repeat="d in d.childs" ng-show="d.name">
                                                  <!--NEW LEVEL-->
                                                    <!--BEGIN OF LEVEL-->
                                                    <button class="expand-btn btn" ng-click="d.expand=true" ng-show="!d.expand && d.childs.length > 0">+</button>
                                                    <button class="expand-btn btn" ng-click="d.expand=false" ng-show="d.expand && d.childs.length > 0">-</button>
                                                    <button class="expand-btn btn btn-success" ng-click="pick(d)" ng-show="!d.childs || d.childs.length==0"></button>
                                                    <span ng-hide="d.edit">{{d.name}}</span> 
                                                    <span ng-show="d.price" class="price pull-right">{{d.price}} / {{d.sizeType}}</span>
                                                    <div ng-show="d.expand">
                                                      <div class="well well-child" ng-repeat="d in d.childs" ng-show="d.name">
                                                        <!--NEW LEVEL-->
                                                      </div>
                                                    </div>
                                                    <!--END OF LEVEL-->
                                                </div>
                                              </div>
                                              <!--END OF LEVEL-->
                                          </div>
                                        </div>
                                        <!--END OF LEVEL-->
                                    </div>
                                  </div>
                                  <!--END OF LEVEL-->
                              </div>
                            </div>
                            <!--END OF LEVEL-->
                        </div>
                      </div>
                      <!--END OF LEVEL-->
                  </div>
                </div>
                <!--END OF LEVEL-->
            </div>
          </div>
          <!--END OF LEVEL-->
      </div>
    </div>
    <!--END OF LEVEL-->
  </div>
  <div>Made with &#9829; from Bogor</div>
</body>
</html>
